[submodule "quickstart/llm-cpu-serving"]
	path = quickstart/llm-cpu-serving
	url = https://github.com/rh-ai-quickstart/llm-cpu-serving.git
[submodule "quickstart/lls-observability"]
	path = quickstart/lls-observability
	url = https://github.com/rh-ai-quickstart/lls-observability.git
[submodule "quickstart/ai-virtual-agent"]
	path = quickstart/ai-virtual-agent
	url = https://github.com/rh-ai-quickstart/ai-virtual-agent.git
